<h1>タスク編集</h1>

<%= form_with(model: @task, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

<%= render 'form', task: @task %>

<% end %>

<p><%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'NEWタスク作成', new_task_path %></p>
